[webservers]

web-1   ansible_host=178.154.230.41 fqdn=fhmu5cke5d41gi1ei5ps.auto.internal
web-2   ansible_host=158.160.114.145 fqdn=fhmmgrefopbbuce7apn1.auto.internal

[databases]
main   ansible_host=158.160.112.94 fqdn=fhmd1tpo27j7oukv56e5.auto.internal
replica   ansible_host=178.154.241.178 fqdn=fhm9vdvmrp5m16dtik98.auto.internal

[storage]
storage-1   ansible_host=178.154.228.182 fqdn=fhmm5c0srda1pepu3r22.auto.internal