[webservers]

web-1   ansible_host=89.169.129.152 fqdn=fhmfv0d6latn82shqok4.auto.internal
web-2   ansible_host=62.84.115.48 fqdn=fhmldjdc91dcpnupqne1.auto.internal

[databases]
main   ansible_host=89.169.129.78 fqdn=fhmeknc2dvbfnkkco4om.auto.internal
replica   ansible_host=89.169.150.117 fqdn=fhmrq59f2lsgphdcdeaj.auto.internal

[storage]
storage-vm   ansible_host=89.169.140.225 fqdn=fhm1b45rq9vleln46s74.auto.internal