[webservers]

%{~ for i in webservers ~}

${i["name"]}   ansible_host=${i["network_interface"][0]["nat_ip_address"]} fqdn=${i["fqdn"]}
%{~ endfor ~}


[databases]
%{~ for dbName, dbResource in databases ~}

${dbName}   ansible_host=${dbResource["network_interface"][0]["nat_ip_address"]} fqdn=${dbResource["fqdn"]}
%{~ endfor ~}


[storage]
%{~ for i in storage ~}

${i["name"]}   ansible_host=${i["network_interface"][0]["nat_ip_address"]} fqdn=${i["fqdn"]}
%{~ endfor ~}